*{
    padding:0px;
    margin: 10px;
    list-style: none;
    color: beige;
}
body{
    background: url(background..avif);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}
ul li h3{
    text-transform: uppercase;
    color: rgb(171, 202, 216);
    margin:1px;
    padding:5px;
    font-size: 30px;
}
.techskills{
    width:1000px;
    margin: 70px auto;
    padding: 25px;
    color:beige;
    border:8px solid;
}
p{
    font-size: 25px;
    color:blanchedalmond;
}
.bar {
    background: #333947;
    display: block;
    height: 15px;
    border: 1px solid bisque;
    overflow:visible;
    box-shadow: 0px 2px 5px rgb(194, 72, 119);
    transition: all 0.3s cubic-bezier(1, 1, 1, 1);
  }
  .bar span {
    height: 100%;
    width: 0;
    float: left;
    top:0;
    left:0;
    bottom:0;
    background: linear-gradient(135deg, rgb(236, 0, 140, 1) 0%, rgba(252, 103, 103, 1) 100%);
    transition: width 0.3s cubic-bezier(1, 1, 1, 1);
    animation-fill-mode: forwards;
  }
@keyframes fillWidth {
    from {
      width: 0;
    }
    to {
      width: var(--percentage);
    }
} 
.java {
    --percentage: 80%;
    animation: fillWidth 3s;
  }
.python {
    --percentage: 70%;
    animation: fillWidth 3s;
  }
.C {
    --percentage: 50%;
    animation: fillWidth 3s;
  }
.html {
    --percentage: 60%;
    animation: fillWidth 3s;
  }
  
.css {
    --percentage: 60%;
    animation: fillWidth 3s;
  }
.profskills{
    width:1000px;
    margin: 70px auto;
    padding: 25px;
    color:beige;
    border:8px solid;
}
.jar {
    display: block;
    height: 15px;
    border: 1px solid bisque;
    border-radius: 0px;
    overflow: visible;
    box-shadow: 0px 2px 5px rgb(194, 72, 119);
    transition: all 0.3s cubic-bezier(1, 1, 1, 1);
    position: relative;
  }
  
.jar span {
    height: 100%;
    width: 0;
    float: left;
    background: linear-gradient(135deg, rgb(236, 0, 140, 1) 0%, rgba(252, 103, 103, 1) 100%);
    transition: width 0.3s cubic-bezier(1, 1, 1, 1);
    animation-fill-mode: forwards;
  } 
@keyframes fillWidth {
    from {
      width: 0;
    }
    to {
      width: var(--percentage);
    }
  }
  
.comm{
    --percentage: 90%;
    animation: fillWidth 3s;
  }
  
.tw{
    --percentage: 90%;
    animation: fillWidth 3s;
  }
  
.learn{
    --percentage: 90%;
    animation: fillWidth 3s;
  }
  
.inno{
    --percentage: 80%;
    animation: fillWidth 3s;
  }
  .javalogo{
    height:10%;
    width:10%;
    display: inline-block;
    background:none;
    border-radius: 10px;
    padding:2px
  }
.logo{
    height:5%;
    width:5%;
    display: inline-block;
    background:none;
    border-radius: 10px;
    padding:2px
}